[SERVICE]
    Flush         1
    Log_Level     info
    Daemon        Off

    storage.path  {{ journal_forwarder_storage_path }}
    storage.sync  normal

    Parsers_File  /etc/fluent-bit/parsers.conf
    Parsers_File  /etc/fluent-bit/parsers-journal-forwarder.conf

[INPUT]
    Name                systemd
    Tag                 {{ journal_forwarder_tag }}
    DB                  {{ journal_forwarder_systemd_db }}
    Read_From_Tail      {{ 'On' if journal_forwarder_read_from_tail | bool else 'Off' }}

    Lowercase           On
    Strip_Underscores   On

{% if journal_forwarder_audit_enabled | bool %}
[INPUT]
    Name              tail
    Tag               {{ journal_forwarder_audit_tag }}
    Path              /var/log/audit/audit.log

    Parser            audit_raw
    DB                {{ journal_forwarder_audit_db }}

    Mem_Buf_Limit     20MB
    Skip_Long_Lines   On

[FILTER]
    Name    parser
    Match   {{ journal_forwarder_audit_tag }}
    Key_Name message
    Parser  audit_msg
    Reserve_Data True

[FILTER]
    Name    parser
    Match   {{ journal_forwarder_audit_tag }}
    Key_Name msg
    Parser  audit_fields
    Reserve_Data True

[FILTER]
    Name    modify
    Match   {{ journal_forwarder_audit_tag }}
    Set     log_type auditd
{% endif %}

[FILTER]
    Name    modify
    Match   {{ journal_forwarder_tag }}
    Set     log_type journald

[FILTER]
    Name    modify
    Match   *
    Copy    tag fb_tag

[OUTPUT]
    Name                    gelf
    Match                   *
    Host                    {{ graylog_gelf_host }}
    Port                    {{ graylog_gelf_port }}
    Mode                    {{ graylog_gelf_mode }}

    Workers                 {{ graylog_fluent_bit_workers }}

    Gelf_Host_Key           hostname
    Gelf_Short_Message_Key  message
    Gelf_Level_Key          priority
    Gelf_Tag_Key            fb_tag
